.loading-page {
  display: flex;
  align-items: center;
  width: 100%;
  height: 220vw;
  max-height: 100vh;
  overflow: hidden;
}
.loading-page .contentBox {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.loading-page .contentBox .svgBox {
  width: 80vw;
  height: 30vw;
}
.loading-page .contentBox .svgBox svg {
  width: 100%;
  height: 100%;
}
.loading-page .contentBox .svgBox svg .rotate {
  transform-origin: center;
}
.loading-page .contentBox .svgBox svg .g2 path {
  transform: rotateY(180deg);
}
.loading-page .contentBox .svgBox svg .g4 line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}
.loading-page .titleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 175px;
}
.loading-page .titleBox h1 {
  font-weight: 700;
  font-size: 1.5vw;
  opacity: 0;
}
.loading-page .titleBox h5 {
  font-size: 0.3vw;
  transform: scale(0.95);
  font-weight: 400;
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, span, p {
  font-family: "Noto Sans TC", sans-serif;
}