.loading-page {
  display: flex;
  align-items: center;
  width: 100%;
  height: 220vw;
  max-height: 100vh;
  transition: filter 1s;
  overflow: hidden;
  background-color: #fff;
  pointer-events: none;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  transform: translate3d(0, 0, 0);
}
.loading-page .contentBox {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  pointer-events: none;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 10vw;
}
.loading-page .contentBox .svgBox {
  width: 80vw;
  height: 30vw;
  transform: scale(1.2);
}
.loading-page .contentBox .svgBox svg {
  width: 100%;
  height: 100%;
}
.loading-page .contentBox .svgBox svg .rotate {
  transform-origin: center;
}
.loading-page .contentBox .svgBox svg .rotate g {
  opacity: 0;
}
.loading-page .contentBox .svgBox svg .rotate .g2 {
  width: 100%;
  transform-origin: center;
}
.loading-page .contentBox .svgBox svg .rotate .g2 path {
  transform: rotateY(180deg);
}
.loading-page .contentBox .svgBox svg .rotate .g4 {
  width: 100%;
  transform-origin: center;
  opacity: 1;
}
.loading-page .contentBox .svgBox svg .rotate .g4 line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}
.loading-page .titleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 10vw;
}
.loading-page .titleBox h1 {
  font-weight: 700;
  font-size: 2vw;
  opacity: 0;
}
.loading-page .titleBox h5 {
  font-size: 0.8vw;
  transform: scale(0.95);
  font-weight: 400;
  opacity: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0vw 1.5vw;
  border-bottom: 2px solid #000;
  position: fixed;
  background-color: #fff;
  transition: 1s;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
header .logoBox {
  mix-blend-mode: normal;
  isolation: isolate;
}
header .logoBox img {
  width: 5vw;
}
header .menu-button {
  display: flex;
  align-items: center;
  color: #000;
  cursor: pointer;
}
header .menu-button :nth-child(1) {
  font-size: 2.5vw;
}
header .menu-button :nth-child(2) {
  font-size: 0.8vw;
}
header .progress-bar {
  width: 0;
  height: 4px;
  background-color: #000;
  position: absolute;
  bottom: -3px;
  left: 0;
}

.menu {
  position: fixed;
  right: -30%;
  top: 0;
  width: 26vw;
  height: 220vw;
  max-height: 100vh;
  background-color: #fff;
  z-index: 20;
  padding: 1vw 1.5vw;
  transition: right 1.5s;
}
.menu .close {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;
}
.menu .close img {
  width: 1.5vw;
}
.menu ul {
  margin-top: 4vw;
  margin-left: 2vw;
}
.menu ul li {
  font-size: 1vw;
  font-weight: 600;
  margin-bottom: 2.8vw;
  letter-spacing: 0.1em;
}
.menu ul li span {
  font-size: 0.9vw;
  letter-spacing: 0;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.61);
  margin-left: 0.8vw;
}
.menu ul li .sub-open {
  margin: 1.5vw 0vw 4.9vw 1.3vw;
}
.menu ul li .sub-open li {
  margin-bottom: 1.6vw;
  font-size: 0.8vw;
  font-weight: 500;
  position: relative;
  letter-spacing: 0;
}
.menu ul li .sub-open li span {
  font-size: 0.8vw;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0;
}
.menu ul li .sub-open li::before {
  display: block;
  content: "";
  position: absolute;
  left: -0.9vw;
  bottom: 0;
  top: 0;
  margin: auto 0;
  width: 2%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  width: 100%;
  overflow: hidden;
}
.container .index {
  position: fixed;
  width: 100%;
  background-color: #fff;
  transition: 1s;
  overflow: hidden;
  bottom: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
  top: 0;
  left: 0;
  right: 0;
}
.container .index .first-page {
  position: relative;
  width: 100%;
}
.container .index .first-page .imgBox {
  width: 100%;
  height: 220vw;
  max-height: 100vh;
  transform: translate3d(0, 0, 0);
}
.container .index .first-page .imgBox img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  color: #3db66d;
}
.container .index .first-page .imgBox .para {
  position: absolute;
  left: 12vw;
  top: 15vw;
}
.container .index .first-page .imgBox .para .box {
  margin-bottom: 4vw;
}
.container .index .first-page .imgBox .para .box img {
  position: relative;
  width: 25vw;
  left: 0;
  top: 0;
}
.container .index .first-page .imgBox .para .box svg {
  position: absolute;
  width: 16vw;
  left: -2vw;
  top: -2vw;
}
.container .index .first-page .imgBox .para p {
  color: #fff;
  font-weight: 600;
  font-size: 1.4vw;
  letter-spacing: 0.2em;
  line-height: 1.8em;
  font-family: "Noto Serif TC", sans-serif;
}
.container .index .first-page .imgBox .para :nth-child(3) {
  margin-top: 2vw;
  margin-left: 15vw;
  position: relative;
}
.container .index .first-page .imgBox .para :nth-child(3)::after {
  display: block;
  content: "";
  position: absolute;
  width: 45%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 108%;
  background-color: #fff;
}
.container .index .first-page .paraBox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 35vw;
  background-color: #fff;
  z-index: 10;
  transform: translate3d(0, 0, 0);
}
.container .index .first-page .paraBox .para {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  bottom: 8vw;
}
.container .index .first-page .paraBox .para > :nth-child(1) span {
  font-size: 1.3vw;
  font-weight: 900;
}
.container .index .first-page .paraBox .para > :nth-child(2) {
  margin: 0.8vw 0vw 1.5vw;
}
.container .index .first-page .paraBox .para > :nth-child(2) span {
  font-weight: 700;
  font-size: 3.2vw;
  font-family: "Cormorant Garamond", serif;
}
.container .index .first-page .paraBox .para > :nth-child(3) {
  font-weight: 600;
  color: #999999;
}
.container .index .first-page .paraBox .para span {
  font-size: 0.9vw;
  transform: translateY(30px);
  opacity: 0;
  font-family: "Cormorant Garamond", serif;
}
.container .index .second-page {
  width: 100%;
  height: 220vw;
  max-height: 100vh;
  position: absolute;
  right: -100vw;
  top: 0;
  transform: translate3d(0, 0, 0);
}
.container .index .second-page-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.container .index .second-page-bg img {
  position: absolute;
}
.container .index .second-page-bg :nth-child(1) {
  position: relative;
  width: 28.8vw;
  height: auto;
  left: 5vw;
  top: 5.5vw;
}
.container .index .second-page-bg :nth-child(2) {
  width: 25%;
  height: 49%;
  right: -8vw;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .index .second-page-bg :nth-child(3) {
  width: 25%;
  height: 49%;
  right: -8vw;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(1);
  transform: translate3d(0, 0, 0);
}
.container .index .second-page-bg :nth-child(4) {
  width: 25%;
  height: 49%;
  right: -8vw;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .index .second-page-paraBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}
.container .index .second-page-paraBox .para {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  margin-top: 0vw;
  position: relative;
  margin-left: 8vw;
  transform: translate3d(0, 0, 0);
}
.container .index .second-page-paraBox .para h4 {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.5vw;
  font-weight: 500;
  text-align: start;
  color: #3e3a39;
  position: relative;
}
.container .index .second-page-paraBox .para h4::after {
  display: block;
  content: "";
  width: 0vw;
  height: 1px;
  background-color: #888888;
  position: absolute;
  right: 105%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: width 1.2s;
}
.container .index .second-page-paraBox .para h4 span {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.5vw;
  font-weight: 500;
  text-align: start;
  position: relative;
}
.container .index .second-page-paraBox .para h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 3.8vw;
  font-weight: 500;
  text-align: start;
  color: #3E3A39;
  position: relative;
}
.container .index .second-page-paraBox .para h3::after {
  display: block;
  content: "";
  width: 0vw;
  height: 1px;
  background-color: #888888;
  position: absolute;
  left: 102%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: width 1.2s;
}
.container .index .second-page-paraBox .para h3 span {
  font-family: "Cormorant Garamond", serif;
  font-size: 3.8vw;
  font-weight: 500;
  text-align: start;
  color: #3E3A39;
  position: relative;
}
.container .index .second-page-paraBox .para .active1::after {
  width: 3.3vw;
}
.container .index .second-page-paraBox .para .active2::after {
  width: 8vw;
}
.container .index .second-page-paraBox .para h2 {
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 1.3vw;
  letter-spacing: 0.1em;
  color: #1A1A1A;
}
.container .index .second-page-paraBox .para h2 .dot {
  font-size: 0.8vw;
  color: #1A1A1A;
}
.container .index .second-page-paraBox .svgBox {
  width: 150%;
  height: 100%;
  position: absolute;
  left: -23.5vw;
  top: -8vw;
}
.container .index .second-page-paraBox .svgBox svg {
  transform: rotate(-22deg);
}
.container .index .second-page-paraBox .svgBox svg g {
  transform-origin: center;
  transform: rotateY(180deg) rotate(183deg);
}
.container .index .second-page-paraBox .imgBox {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: -2vw;
}
.container .index .second-page-paraBox .imgBox svg {
  width: 25vw;
  height: 15vw;
}
.container .index .second-page-paraBox .imgBox svg > :nth-child(1) path {
  opacity: 0;
}
.container .index .second-page-paraBox .imgBox svg > :nth-child(2) {
  opacity: 0;
}
.container .index .second-page .circle {
  width: 130vw;
  position: absolute;
  top: -76vw;
  right: -23vw;
  transform: rotate(-165deg) translate3d(0, 0, 0);
}
.container .index .third-page {
  width: 100%;
  height: 220vw;
  max-height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
.container .index .third-page-bg {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../img/index/image/third-page-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  padding: 1vw;
  overflow: visible;
  transform: translate3d(0, 0, 0);
}
.container .index .third-page-bg img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .index .third-page-bg .para {
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: 0;
  right: 0;
  margin: 0 auto 1.5vw;
}
.container .index .third-page-bg .para img {
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
}
.container .index .third-page-bg .para :nth-child(1) {
  width: 10vw;
  margin-right: 2vw;
}
.container .index .third-page-bg .para :nth-child(2) {
  width: 14vw;
  margin-bottom: -1.5vw;
}
.container .index .third-page-bg .imgBox {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 16.5vw;
  height: 16.5vw;
  overflow: hidden;
  z-index: 10;
  filter: brightness(1);
  transform: translate3d(0, 0, 0);
}
.container .index .third-page-bg .imgBox img {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 10;
}
.container .index .third-page-bg .paraBox {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #000;
  text-align: center;
  z-index: 12;
}
.container .index .third-page-bg .paraBox h2 {
  margin-bottom: 0.8vw;
  font-size: 1.5vw;
  font-weight: 500;
  font-family: "Cormorant Garamond", serif;
  position: relative;
}
.container .index .third-page-bg .paraBox h2::after {
  display: block;
  content: "";
  position: absolute;
  width: 18%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 95%;
  background-color: #000;
}
.container .index .third-page-bg .paraBox h2::before {
  display: block;
  content: "";
  position: absolute;
  width: 18%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 95%;
  background-color: #000;
}
.container .index .third-page-bg .paraBox h3 {
  font-size: 1.8vw;
  line-height: 1.4em;
  letter-spacing: 0.5em;
  font-weight: 600;
  margin-left: 1vw;
}
.container .index .third-page-paraBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.container .index .third-page-paraBox h2 {
  margin-bottom: 0.8vw;
  font-size: 1vw;
  font-weight: 500;
  font-family: "Cormorant Garamond", serif;
  color: #fff;
  position: relative;
}
.container .index .third-page-paraBox h2::after {
  display: block;
  content: "";
  position: absolute;
  width: 15%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 106%;
  background-color: #ccc;
}
.container .index .third-page-paraBox h2::before {
  display: block;
  content: "";
  position: absolute;
  width: 15%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 106%;
  background-color: #ccc;
}
.container .index .third-page-paraBox .box {
  display: flex;
  align-items: center;
  margin-top: 1.5vw;
}
.container .index .third-page-paraBox .box h3 {
  color: #fff;
  font-size: 3.5vw;
  letter-spacing: 0.2em;
  font-weight: 400;
  line-height: 1em;
  margin-right: -1vw;
}
.container .index .third-page-paraBox .box svg {
  width: 9vw;
}
.container .index .third-page-paraBox ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container .index .third-page-paraBox ul li {
  color: #fff;
  font-size: 1.5vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.container .index .third-page-paraBox ul .line {
  font-size: 0.8vw;
  margin: 0 1vw;
  color: #ccc;
}
.container .index .third-page-paraBox ul p {
  margin: 0 2vw;
}
.container .index .forth-page {
  width: 100%;
  height: 220vw;
  max-height: 100vh;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 0;
}
.container .index .forth-page-para {
  position: relative;
  width: 100%;
  height: 100%;
}
.container .index .forth-page-para .box1 {
  position: absolute;
  right: 2.5vw;
  top: 7vw;
}
.container .index .forth-page-para .box1 p {
  text-align: end;
  white-space: nowrap;
  font-size: 1.2vw;
  letter-spacing: 0.1em;
  font-weight: 700;
}
.container .index .forth-page-para .box1 .box1-1 h4 {
  position: relative;
  text-align: end;
  white-space: nowrap;
  font-size: 2vw;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
}
.container .index .forth-page-para .box1 .box1-1 h4::after {
  position: absolute;
  display: block;
  content: "";
  width: 4.5vw;
  height: 1px;
  background-color: #000;
  right: -5vw;
  top: 1.2vw;
}
.container .index .forth-page-para .box1 .box1-2 {
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
}
.container .index .forth-page-para .box1 .box1-2 h4 {
  position: relative;
  text-align: end;
  white-space: nowrap;
  font-size: 2vw;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
}
.container .index .forth-page-para .box1 .box1-2 h4::after {
  position: absolute;
  display: block;
  content: "";
  width: 4.5vw;
  height: 1px;
  background-color: #000;
  right: -5vw;
  top: 1.2vw;
}
.container .index .forth-page-para .box2 {
  position: absolute;
  left: 27vw;
  top: 12.5vw;
  z-index: 0;
}
.container .index .forth-page-para .box2 h4 {
  white-space: nowrap;
  font-size: 1.3vw;
  text-align: end;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
}
.container .index .forth-page-para .box2 .box1-2 {
  position: absolute;
  width: 10vw;
  right: 0;
  top: 0;
  background-color: #fff;
}
.container .index .forth-page-para .box3 {
  position: absolute;
  left: 21vw;
  bottom: 8vw;
  font-size: 0.8vw;
  font-weight: 600;
}
.container .index .forth-page-para .box3 .box1-2 {
  position: absolute;
  width: 150%;
  top: 0;
  background-color: #fff;
  left: 0;
}
.container .index .forth-page-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.container .index .forth-page-bg .imgBox {
  position: absolute;
}
.container .index .forth-page-bg .imgBox img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .index .forth-page-bg .left-top-box {
  position: absolute;
  width: 20vw;
  height: 49%;
  left: 0;
  top: 0;
  z-index: -1;
}
.container .index .forth-page-bg .left-top-box img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.container .index .forth-page-bg .left-bottom-box {
  width: 20vw;
  height: 49%;
  left: 0;
  bottom: 0;
}
.container .index .forth-page-bg .left-center-box {
  width: 16vw;
  height: 23vw;
  top: 15vw;
  left: 21vw;
}
.container .index .forth-page-bg .left-center-box :nth-child(1) {
  -o-object-position: left center;
     object-position: left center;
}
.container .index .forth-page-bg .center-box {
  width: 35vw;
  height: 100%;
  left: 38vw;
  top: 0vw;
}
.container .index .forth-page-bg .right-center-box {
  width: 22vw;
  height: 27.5vw;
  right: 2.5vw;
  top: 18vw;
}
.container .index .fifth-page {
  display: none;
  width: 100%;
  height: 220vw;
  max-height: 100vh;
  position: absolute;
  left: 0;
  bottom: -120vh;
}
.container .index .fifth-page-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container .index .fifth-page-bg img {
  position: absolute;
}
.container .index .fifth-page-bg :nth-child(1) {
  width: 13vw;
  left: -30vw;
  top: 0vw;
}
.container .index .fifth-page-bg :nth-child(2) {
  width: 14.7vw;
  left: 8vw;
  top: 0vw;
}
.container .index .fifth-page-bg :nth-child(3) {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .index .devloping {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100vh;
}
.container .index .devloping p {
  font-size: 4vw;
  font-weight: 600;
}

.construction .first-page {
  width: 100%;
  height: auto;
  position: relative;
}
.construction .first-page-bg {
  width: 100%;
  height: auto;
}
.construction .first-page-bg img {
  width: 100%;
  height: auto;
}
.construction .first-page-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.construction .first-page-title h2, .construction .first-page-title h3 {
  text-align: center;
}
.construction .first-page-title h2 {
  font-size: 1.4vw;
  letter-spacing: 0.2em;
  font-weight: 600;
}
.construction .first-page-title h3 {
  font-size: 0.8vw;
  margin-right: 0.3vw;
}
.construction .second-page {
  width: 100%;
  padding: 20vw 0;
}
.construction .second-page ul {
  width: 80%;
  margin: 0 auto;
}
.construction .second-page ul li {
  width: 100%;
  position: relative;
}
.construction .second-page ul li:not(:first-child) {
  margin-top: 20vw;
}
.construction .second-page ul li .imgBox {
  display: flex;
  justify-content: center;
  width: 100%;
}
.construction .second-page ul li .imgBox a {
  display: flex;
  justify-content: center;
  width: 80.5%;
}
.construction .second-page ul li .imgBox a img {
  width: 100%;
  height: 37.2vw;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 55%, 75% 100%, 0 100%, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 55%, 75% 100%, 0 100%, 0 0);
  margin-right: 8vw;
}
.construction .second-page ul li .imgBox::after {
  display: block;
  content: "";
  position: absolute;
  right: 1.6vw;
  bottom: -1.75vw;
  width: 35%;
  height: 1px;
  transform: rotate(-46.1deg);
  transform-origin: left center;
  background-color: #888888;
}
.construction .second-page ul li .paraBox {
  position: absolute;
  width: 15vw;
  right: 2vw;
  bottom: 3.5vw;
}
.construction .second-page ul li .paraBox-title {
  display: flex;
  align-items: center;
  margin-bottom: 1vw;
}
.construction .second-page ul li .paraBox-title h3 {
  font-size: 1.1vw;
  letter-spacing: 0.1em;
  margin-right: 1vw;
}
.construction .second-page ul li .paraBox-title p {
  font-size: 1.2vw;
  padding: 0.1vw 0.5vw;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #56B87E;
  background-color: rgb(233, 233, 233);
}
.construction .second-page ul li .paraBox > p {
  font-size: 0.9vw;
  letter-spacing: 0.1em;
}
.construction .second-page ul li .paraBox a {
  position: absolute;
  right: -4vw;
  bottom: -6vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.construction .second-page ul li .paraBox span {
  font-size: 0.8vw;
  letter-spacing: 0.2em;
  border-bottom: 1px solid #888888;
  padding: 0 1.5vw 0.3vw 0.5vw;
}
.construction .second-page ul li .paraBox span::after {
  display: block;
  content: "";
  position: absolute;
  width: 18%;
  height: 1px;
  background-color: #888888;
  bottom: -0.3px;
  right: 0;
  transform: rotate(30deg);
  transform-origin: right center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  height: 100%;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
  /* Hide scrollbar for Chrome, Safari and Opera */
}
html::-webkit-scrollbar {
  display: none;
}

html {
  overflow: -moz-hidden-unscrollable;
  overscroll-behavior-y: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
li {
  font-family: "Noto Serif TC", sans-serif;
}

a {
  color: #000;
}

span {
  display: inline-block;
}

body {
  overscroll-behavior-y: none;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about {
  width: 100%;
  z-index: -1;
  overflow: hidden;
  cursor: pointer;
}
.about .swiper-wrapper {
  width: 100%;
}
.about .swiper-wrapper .swiper-slide {
  width: 100%;
  position: relative;
}
.about .swiper-wrapper .swiper-slide video {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.5);
}
.about .swiper-wrapper .swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -4vw;
}
.about .swiper-wrapper .swiper-slide p {
  position: fixed !important;
  left: 2vw;
  top: 5vw;
  font-size: 1.3vw;
  color: rgb(0, 0, 0);
  filter: drop-shadow(1px 1px 1px #fff);
}

.contact {
  cursor: pointer;
}
.contact .swiper-wrapper {
  width: 100%;
}
.contact .swiper-wrapper .swiper-slide {
  width: 100%;
  position: relative;
}
.contact .swiper-wrapper .swiper-slide img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 55vw;
  height: auto;
  z-index: 3;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  padding: 1.2vw 0;
  border-top: 1px solid #000;
}
footer p {
  font-size: 0.7vw;
  letter-spacing: 0.1em;
}
footer p span {
  margin: 0 1vw;
}