@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Tamil:ital,wght@1,600&display=swap');

.company {
    width: 100%;
    overflow: hidden;

    .first-page {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 7vw 0 15vw auto;

        &-title {
            display: flex;
            flex-direction: column;
            align-items: center;

            .logoBox {
                margin-bottom: 2.5vw;

                img {
                    width: 8.2vw;
                }
            }

            .titleBox {
                text-align: center;
                position: relative;

                h1 {
                    font-size: 1.6vw;
                    letter-spacing: 0.2em;
                    font-weight: 700;
                }

                h4 {
                    font-size: 1vw;
                    margin-right: 0.3vw;
                    font-weight: 300;
                }

                &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    bottom: -25px;
                    left: 0;
                    width: 250%;
                    height: 1px;
                    background-color: #000;
                }
            }
        }

        &-bg {
            width: 81%;

            img {
                width: 100%;
            }
        }
    }

    .second-page {
        width: 100%;
        position: relative;

        &-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            margin: 0 auto 6vw 0;

            .imgBox {
                img {
                    width: 32vw;
                }
            }

            .paraBox {
                margin-right: 13vw;

                p {
                    @include para();
                    opacity: 1;
                }
            }


        }

        .opposite {
            .imgBox {
                img {
                    width: 20.5vw;
                }
            }

            .paraBox {
                margin: 0 0 0 15vw;

                p {
                    @include title-s();
                    line-height: 2em;
                    opacity: 0.8;
                }
            }
        }

        .bg {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: 5vw;
            width: 100%;
        }
    }

    .third-page {
        width: 100%;
        margin-bottom: 10vw;

        &-bg {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .forth-page {
        width: 100%;

        &-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 6vw;

            h4 {
                font-size: 0.8vw;
                font-weight: 300
            }

            h3 {
                @include title-s();
            }
        }

        &-bottom {
            display: flex;
            width: 85%;
            margin: 0 auto 10vw;

            .box {
                flex: 0 1 20%;
                height: 31.5vw;
                position: relative;
                transition: 1s;
                overflow: hidden;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                    // background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.842) 0%, transparent 100%);
                    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
                    transition: 1s;
                }

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    // background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.842) 0%, transparent 100%);
                    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
                    transition: 1s;
                }

                .imgBox {
                    width: 100%;
                    height: 100%;

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .paraBox {
                    position: absolute;
                    width: fit-content;
                    left: 3.8vw;
                    bottom: 1.5vw;
                    color: #fff;
                    z-index: 5;

                    span {
                        font-size: 0.9vw;
                        opacity: 0;
                        transition: 1s;
                        white-space: nowrap;
                    }

                    h6 {
                        font-size: 1.5vw;
                        letter-spacing: 0.1em;
                        white-space: nowrap;
                        position: relative;

                        &::after {
                            display: block;
                            content: "";
                            position: absolute;
                            left: -0.5vw;
                            top: 0.5vw;
                            width: 1px;
                            height: 0;
                            background-color: #fff;
                            transition: 1s;
                        }


                    }
                }

                .numBox {
                    position: absolute;
                    right: 2vw;
                    top: 1vw;
                    color: #fff;
                    z-index: 5;

                    p {
                        font-size: 5vw;
                        font-family: 'Noto Serif Tamil', serif;
                    }
                }

                &:hover {
                    flex: 0 1 60%;

                    .paraBox {
                        span {
                            opacity: 1;

                        }
                    }

                    &::before {
                        opacity: 0;

                    }

                    &::after {
                        opacity: 1;
                        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.842) 0%, rgba(255, 255, 255, 0) 100%);
                    }

                    h6::after {
                        height: 70%;
                    }
                }
            }

            & :nth-child(5) {

                .paraBox {
                    left: 5.2vw;
                }



            }
        }
    }

    .fifth-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 7vw;

        h3 {
            @include title-s();
            margin-bottom: 4vw;

            span {
                color: $orange_color;
            }
        }

        p {
            @include para();

            span {
                color: $orange_color;
            }
        }
    }

    .sixth-page {
        width: 100%;
        position: relative;

        &-bg {
            width: 100%;

            img {
                width: 100%;
                filter: brightness(0.4);
            }
        }

        &-content {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            padding-top: 4vw;

            .logoBox {
                display: flex;
                position: relative;
                width: 18.2vw;
                height: 18.2vw;
                justify-content: center;
                align-items: center;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 50%;

                img {
                    width: 4vw;
                }

                &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    width: 17vw;
                    height: 17vw;
                    border-radius: 50%;
                    border: 1px solid rgba(255, 255, 255, 0.4);
                }
            }

            .svgBox {
                position: absolute;
                left: 0;
                right: 0;
                top: 1vw;
                margin: 0 auto;
                width: 45vw;
                height: 45vw;

                svg {
                    g {
                        transform: translateX(-4px);
                    }
                }
            }

            .paraBox {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 45vw;
                height: 45vw;

                div {
                    display: flex;
                    position: absolute;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: #fff;

                    h5 {
                        font-size: 1.3vw;
                        font-weight: 400;
                    }

                    h6 {
                        font-size: 0.8vw;
                        letter-spacing: 0.1em;
                        font-weight: 300;
                    }
                }

                .para2,
                .para4,
                .para6 {
                    h5 {
                        margin-bottom: 2vw;
                    }

                    &::after {
                        display: block;
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 2.2vw;
                        margin: 0 auto;
                        width: 1px;
                        height: 20%;
                        background-color: #fff;
                    }
                }

                .para1 {
                    left: 4.5vw;
                    top: 14.5vw;
                }

                .para2 {
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    top: 7.5vw;
                }

                .para3 {
                    right: 4.5vw;
                    top: 14.5vw;

                }

                .para4 {
                    right: 6vw;
                    bottom: 12vw;
                }

                .para5 {
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    bottom: 2.5vw;
                }

                .para6 {
                    left: 6vw;
                    bottom: 12vw;
                }
            }
        }

    }
}

@media all and (max-width:1039px) {
    .company {
        .first-page {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            margin: 16vw 0 15vw auto;

            &-title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-top: 10vw;

                .logoBox {
                    margin-right: 12vw;
                    margin-top: -6vw;

                    img {
                        width: 25vw;
                    }
                }

                .titleBox {
                    order: -1;
                    padding-left: 6vw;

                    h1 {
                        font-size: var(--ch_l_text);
                    }

                    h4 {
                        font-size: 2.4vw;
                    }

                    &::after {
                        width: 230%;
                    }
                }
            }

            &-bg {
                width: 90%;
                height: auto;
                order: -1;

            }
        }

        .second-page {
            width: 100%;
            position: relative;
            margin-bottom: 30vw;

            &-box {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 92.5%;
                margin: 0 auto 6vw 0;

                .imgBox {
                    img {
                        width: 62vw;
                    }
                }

                .paraBox {
                    margin: 0;
                    align-self: flex-end;
                    margin-top: 15vw;

                    p {
                        text-align: end;
                    }
                }


            }

            .opposite {
                .imgBox {
                    align-self: flex-end;
                    margin-right: 8vw;

                    img {
                        width: 55vw;
                    }
                }

                .paraBox {
                    margin: 0 0 15vw 10vw;
                    align-self: flex-start;

                    p {
                        text-align: start;
                    }
                }
            }

            .bg {
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: 5vw;
            }
        }

        .third-page {
            width: 100%;
            margin-bottom: 25vw;

            &-bg {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }

        .forth-page {
            width: 100%;

            &-top {

                h4 {
                    font-size: 2.4vw;
                    font-weight: 300
                }

                h3 {
                    font-size: var(--ch_l_text);
                }
            }

            &-bottom {
                display: flex;
                flex-direction: column;
                width: 85%;
                height: 135vw;
                margin: 0 auto 25vw;

                .box {
                    flex: 0 1 20%;
                    height: auto;

                    .imgBox {


                        img {
                            object-position: 50% 100%;
                        }
                    }

                    .paraBox {
                        position: absolute;
                        width: fit-content;
                        left: 3.8vw;
                        bottom: 1.5vw;
                        color: #fff;
                        z-index: 5;

                        span {
                            font-size: 2.6vw;
                            opacity: 0;
                            transition: 1s;
                            white-space: nowrap;
                        }

                        h6 {
                            font-size: 3.2vw;
                            margin-top: 1vw;
                            font-weight: 400;

                            &::after {
                                left: -1.5vw;
                                top: 1vw;

                            }


                        }
                    }

                    .numBox {
                        position: absolute;
                        right: 3.5vw;
                        top: 1vw;
                        color: #fff;
                        z-index: 5;

                        p {
                            font-size: 10vw;
                            font-family: 'Noto Serif Tamil', serif;
                        }
                    }


                }

                .active {
                    flex: 0 1 60%;

                    .imgBox {
                        img {
                            object-position: 50% 50%;
                        }
                    }

                    .paraBox {
                        span {
                            opacity: 1;

                        }
                    }

                    &::before {
                        opacity: 0;

                    }

                    &::after {
                        opacity: 1;
                        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.842) 0%, rgba(255, 255, 255, 0) 100%);
                    }

                    h6::after {
                        height: 70%;
                    }
                }

                & :nth-child(5) {

                    .paraBox {
                        left: 5.2vw;
                    }



                }
            }
        }

        .fifth-page {

            text-align: start;
            width: 85%;
            margin: 0 auto 25vw;

            h3 {
                font-size: var(--ch_l_text);
                margin-bottom: 4vw;

                span {
                    color: $orange_color;
                }
            }

            p {
                @include para();

                br {
                    display: none;
                }

                span {
                    color: $orange_color;
                }
            }
        }

        .sixth-page {
            width: 100%;
            position: relative;

            &-bg {
                width: 100%;

                img {
                    width: 100%;
                    filter: brightness(0.4);
                }
            }

            &-content {


                .logoBox {
                    width: 36vw;
                    height: 36vw;
                    margin-top: 8.2vw;

                    img {
                        width: 10vw;
                    }

                    &::after {
                        width: 32vw;
                        height: 32vw;

                    }
                }

                .svgBox {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0vw;
                    bottom: 0;
                    margin: auto;
                    width: 90vw;
                    height: 90vw;

                }

                .paraBox {

                    width: 70vw;
                    height: 70vw;

                    div {


                        h5 {
                            font-size: 3.5vw;
                        }

                        h6 {
                            font-size: 2.5vw;
                            font-weight: 300;
                            opacity: 0.8;
                        }
                    }

                    .para2,
                    .para4,
                    .para6 {
                        h5 {
                            margin-bottom: 5vw;
                        }

                        &::after {

                            top: 6vw;

                        }
                    }

                    .para1 {
                        left: -3vw;
                        top: 17vw;
                    }

                    .para2 {
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        top: 4.5vw;
                    }

                    .para3 {
                        right: -3vw;
                        top: 17vw;

                    }

                    .para4 {
                        right: -1vw;
                        bottom: 12vw;
                    }

                    .para5 {
                        bottom: -8vw;
                    }

                    .para6 {
                        left: -1vw;
                    }
                }
            }

        }
    }

}