.concept {
    width: 100%;
    overflow: hidden;

    .first-page {
        padding-top: 3.5vw;
        margin-bottom: 8vw;
        width: 100%;

        &-bg {
            position: relative;
            width: 100%;
            height: 33vw;


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }

            .imgBox {
                position: relative;
                width: 100%;
                height: 100%;

            }

            &> :nth-child(2) {
                position: absolute;
                width: 30vw;
                height: auto;
                bottom: 0;
                right: 10vw;
            }


        }
    }

    .second-page {
        display: flex;
        width: 100%;
        margin-bottom: 13vw;

        &-title {
            display: flex;
            margin: 0 8vw 0 7vw;
            padding-top: 3vw;


            .en-box {
                display: flex;
                position: relative;
                align-items: flex-end;
                margin-right: 2.5vw;
                font-size: var(--more_text);
                writing-mode: vertical-lr;

                h2 {
                    color: $para_color;
                    opacity: 0.6;
                    font-weight: 200;
                    font-family: 'Noto Sans TC', sans-serif;
                    transform: rotate(180deg);

                    &::after {
                        display: block;
                        content: "";
                        position: absolute;
                        right: 0vw;
                        bottom: 0;
                        width: 1px;
                        height: 0;
                        background-color: $para_color;
                        opacity: 0.6;
                        transition: 1s;
                    }


                }

                .is-active {
                    &::after {
                        height: 100%;
                    }

                }

            }

            .ch-box {
                font-size: var(--ch_m_text);
                writing-mode: vertical-rl;
                margin-top: 6vw;

                h2 {
                    letter-spacing: 0.5em;
                    font-family: 'Noto Serif TC', sans-serif;
                }
            }
        }

        &-para {
            display: flex;
            align-items: flex-end;

            margin-right: 1vw;

            p {
                font-size: var(--ch_s_text);
                letter-spacing: 0.3em;
                line-height: 2.5;
                margin-bottom: -3.5vw;
                color: $para_color;
                opacity: 0.8;

                span {
                    color: $green_color;
                }
            }
        }

        &-bg {
            overflow: hidden;

            img {
                width: 36vw;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%, 7% 45%, 0% 45%, 0 0);
            }
        }
    }

    .third-page {
        width: 100%;
        height: 50.5vw;
        margin-bottom: 25vw;
        position: relative;

        &-bg {
            position: relative;
            width: 100%;
            height: 100%;

            .imgBox {
                position: absolute;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

            & :nth-child(1) {
                width: 16vw;
                top: 0;
                left: 10vw;
            }

            & :nth-child(2) {
                width: 23.5vw;
                bottom: -7vw;
                left: 28vw;
            }

            & :nth-child(3) {
                width: 16vw;
                right: 5vw;
                top: 9vw;
            }
        }

        &-para1 {
            position: absolute;
            width: 55vw;
            height: 34vw;
            background-color: #F6F6F6;
            right: 0vw;
            top: -18vw;
            z-index: -1;
            clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0% 38%, 21.8% 38%, 21.8% 0);

            p {
                position: absolute;
                font-size: var(--ch_m_text);
                font-weight: 600;
                letter-spacing: 0.2em;
                left: 6vw;
                bottom: 11vw;
                color: $para_color;
                opacity: 0.8;

                span {
                    margin-left: 0.5vw;
                    font-size: var(--ch_l_text);
                    color: $green_color;

                }
            }
        }

        &-para2 {
            position: absolute;
            right: 28vw;
            top: 28vw;

            p {
                font-size: var(--ch_s_text);
                letter-spacing: 0.15em;
                line-height: 2.5;
                color: $para_color;
                opacity: 0.8;
            }
        }

        .box1 {
            position: absolute;
            left: 5vw;
            bottom: 0vw;
            width: 7vw;
            height: 8.5vw;
            background-color: #F6F6F6;
        }

        .box2 {
            position: absolute;
            right: 0;
            bottom: -11vw;
            width: 7vw;
            height: 8.5vw;
            background-color: #F6F6F6;
        }
    }

    .forth-page {
        display: flex;
        width: 100%;
        position: relative;
        margin-bottom: 15vw;

        &-bg {
            margin-left: 13vw;
            overflow: hidden;

            img {
                width: 20.5vw;
            }
        }

        &-para {
            margin-left: 8vw;
            margin-top: 13.5vw;

            p {
                font-size: var(--ch_s_text);
                letter-spacing: 0.15em;
                line-height: 2.5;
                color: $para_color;
                opacity: 0.8;

                &:not(:last-child) {
                    margin-bottom: 2.5vw;
                }

                span {
                    color: $green_color;
                }
            }
        }

        &-title {
            display: flex;

            .en-box {
                display: flex;
                position: relative;

                margin-right: 2.5vw;
                font-size: var(--more_text);
                writing-mode: vertical-lr;

                h2 {
                    position: relative;
                    color: $para_color;
                    opacity: 0.6;
                    font-weight: 200;
                    font-family: 'Noto Sans TC', sans-serif;


                    &::after {
                        display: block;
                        content: "";
                        position: absolute;
                        right: 0vw;
                        top: 0;
                        width: 1px;
                        height: 0;
                        transition: 1s;
                        background-color: $para_color;
                        opacity: 0.6;
                    }
                }

                .is-active {


                    &::after {
                        height: 100%;
                    }

                }
            }

            .ch-box {
                font-size: var(--ch_m_text);
                writing-mode: vertical-rl;
                margin-top: 3vw;
                margin-right: 2vw;

                h2 {
                    letter-spacing: 0.5em;
                    font-family: 'Noto Serif TC', sans-serif;
                }
            }


        }

        .box {
            position: absolute;
            left: 0;
            top: 5vw;
            z-index: -1;
            width: 75vw;
            height: 16vw;
            background-color: #F6F6F6;
        }
    }

    .fifth-page {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 12vw;

        .swiper {
            position: relative;
            width: 100%;
            margin: 0 0 7vw;

            .swiper-wrapper {
                width: 100%;

                .swiper-slide {
                    width: 100%;

                    .imgBox {
                        width: 100%;

                        img {
                            width: 100%;
                            height: 25vw;
                            transform: scale(0.8);
                            object-fit: cover;
                            transition: 1s;
                        }
                    }
                }

                .swiper-slide-prev {
                    .imgBox {
                        img {
                            transform-origin: left center;
                        }
                    }
                }

                .swiper-slide-next {
                    .imgBox {
                        img {
                            transform-origin: right center;
                        }
                    }
                }

                .swiper-slide-active {
                    .imgBox {
                        img {
                            transform: scale(1);
                        }
                    }
                }
            }

            .navBox {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto 0;
                width: 100%;
                height: 0%;
                padding: 0 1vw;
                z-index: 10;

                div {
                    width: fit-content;
                    cursor: pointer;

                    img {
                        width: 3vw;
                        pointer-events: none;
                    }
                }


            }
        }
    }
}

@media all and (max-width:1039px) {
    .concept {
        .first-page {
            padding-top: 10vw;
            margin-bottom: 12vw;
            width: 100%;

            &-bg {
                position: relative;
                width: 100%;
                height: 60vw;


                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }


                &> :nth-child(2) {
                    width: 45vw;

                }


            }
        }

        .second-page {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 90%;
            margin: 0 0 0 auto;
            margin-bottom: 20vw;

            &-title {
                display: flex;
                margin: 0 6vw 7vw 0vw;
                padding-top: 3vw;
                order: -1;

                .en-box {
                    margin-right: 4vw;
                }

                .ch-box {

                    writing-mode: vertical-rl;
                    margin-top: 15vw;
                    font-size: var(--ch_m_text);

                    h2 {
                        letter-spacing: 0.5em;
                        font-family: 'Noto Serif TC', sans-serif;
                    }
                }
            }

            &-para {
                width: 90%;
                order: 2;

                p {
                    font-size: var(--ch_s_text);
                    text-align: justify;

                    br {
                        display: none;
                    }

                }
            }

            &-bg {
                order: 1;

                img {
                    width: 65vw;
                    clip-path: none;
                }
            }
        }

        .third-page {
            width: 80%;
            margin: 0 auto;
            height: fit-content;
            margin-bottom: 25vw;
            position: relative;

            &-bg {
                display: flex;
                flex-direction: column;

                .imgBox {
                    position: static;
                }

                img {
                    position: static;
                }

                & :nth-child(1) {
                    width: 50vw;
                    margin-bottom: 20vw;
                }

                & :nth-child(2) {
                    width: 55vw;
                    align-self: flex-end;
                    margin-bottom: 60vw;
                }

                & :nth-child(3) {
                    width: 100%;

                }
            }

            &-para1 {

                position: static;
                width: fit-content;
                height: fit-content;
                background-color: transparent;
                clip-path: none;
                margin: 0 auto 10vw;

                p {
                    position: static;
                    font-size: var(--ch_l_text);
                    text-align: center;

                    span {
                        margin-left: 0;
                        margin-top: 2.5vw;
                        font-size: var(--ch_l_text);
                        color: $green_color;

                    }
                }
            }

            &-para2 {
                position: absolute;
                right: auto;
                left: 0;
                top: 225vw;

                p {
                    br {
                        display: none;
                    }
                }
            }

            .box1 {
                position: absolute;
                left: 5vw;
                bottom: auto;
                top: 98vw;
                width: 8.5vw;
                height: 10vw;
            }

            .box2 {
                display: none;
                position: absolute;
                right: 0;
                bottom: 109vw;
                width: 8.5vw;
                height: 10vw;
            }
        }

        .forth-page {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto;
            position: relative;
            margin-bottom: 15vw;

            &-bg {
                margin-left: -2vw;

                img {
                    width: 50vw;
                }
            }

            &-para {
                margin-left: 5vw;
                margin-top: 13.5vw;
                order: 3;

                p {
                    font-size: var(--ch_s_text);


                    &:not(:last-child) {
                        margin-bottom: 10vw;
                    }
                }
            }

            &-title {
                display: flex;
                padding-top: 3vw;

                .en-box {
                    margin-right: 4vw;
                }

                .ch-box {
                    margin-top: 10vw;
                }
            }

            .box {
                position: absolute;
                left: -12%;
                top: 19vw;
                z-index: -1;
                width: 100vw;
                height: 40vw;
                background-color: #F6F6F6;
            }
        }

        .fifth-page {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 12vw;

            .swiper {

                .swiper-wrapper {

                    .swiper-slide {

                        .imgBox {
                            img {
                                width: 100%;
                                height: 45vw;
                                transform: scale(0.9);
                                object-fit: cover;
                                transition: 1s;
                            }
                        }
                    }

                    .swiper-slide-active {
                        .imgBox {
                            img {
                                transform: scale(1);
                            }
                        }
                    }

                }

                .navBox {
                    padding: 0 1.5vw;

                    div {
                        img {
                            width: 8vw;
                        }
                    }


                }
            }
        }
    }

    @media all and (max-width:500px) {
        .concept {
            .first-page {
                padding-top: 0vw;
                margin-bottom: 30vw;
                margin-top: -10vw;
                width: 100%;

                &-bg {
                    width: 100%;
                    height: 70vw;

                    img {
                        object-position: 55% 100%;
                    }
                }
            }

            .second-page {
                width: 90%;
                margin-bottom: 30vw;

                &-title {
                    display: flex;
                    margin: 0 4vw 20vw 0vw;
                    padding-top: 3vw;
                    order: -1;

                    .en-box {
                        margin-right: 3vw;
                    }

                    .ch-box {

                        margin-top: 20vw;


                    }
                }

                &-para {
                    width: 89%;

                }


            }

            .third-page {
                &-para1 {
                    margin-bottom: 20vw;
                }

                &-bg {


                    & :nth-child(1) {
                        width: 60vw;
                        margin-bottom: 30vw;
                    }

                    & :nth-child(2) {
                        width: 60vw;
                        margin-bottom: 85vw;
                    }

                    & :nth-child(3) {
                        width: 95%;
                        margin: 0 auto;
                    }

                }

                &-para2 {
                    top: 290vw;

                }


                .box1 {
                    width: 9.5vw;
                    height: 12vw;
                    top: 120vw;
                }

                .box2 {

                    position: absolute;
                    right: 0;
                    bottom: 107vw;
                    width: 9.5vw;
                    height: 12vw;
                }
            }

            .fifth-page {
                .swiper {

                    .navBox {
                        padding: 0 2vw;

                        div {
                            img {
                                width: 11vw;
                            }
                        }


                    }
                }
            }
        }
    }
}



@keyframes ink-transition {
    from {
        -webkit-mask-position: 0 100%;
        -ms-mask-position: 0 100%;
        -moz-mask-position: 0 100%;
        -o-mask-position: 0 100%;
        mask-position: 0 100%;
    }

    to {
        -webkit-mask-position: 100% 100%;
        -ms-mask-position: 100% 100%;
        -moz-mask-position: 100% 100%;
        -o-mask-position: 100% 100%;
        mask-position: 100% 100%;
    }
}