$en_style: 'Cormorant Garamond', serif;
$gray_color: #999999;
$para_color: #010101;
$green_color: #56B87E;
$orange_color: #F0822B;

:root {
    --ch_xs_text: 0.9vw;
    --more_text: 1vw;
    --ch_s_text: 1.1vw;
    --ch_m_text: 1.3vw;
    --ch_l_text: 1.7vw;
}



@mixin para {
    line-height: 2.5em;
    font-size: var(--ch_s_text);
    opacity: 0.8;
    font-weight: 300;
    letter-spacing: 0.2em;
}

@mixin title-s {
    font-size: var(--ch_m_text);
    font-weight: 600;
    letter-spacing: 0.2em;
}

//menu 模糊class
.blur {
    filter: blur(5px);
}

//menu 模糊class
.loading-page {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    transition: filter 1s;
    overflow: hidden;
    background-color: #fff;
    pointer-events: none;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    transform: translate3d(0, 0, 0);

    .contentBox {
        width: fit-content;
        height: fit-content;
        pointer-events: none;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 10vw;

        .svgBox {
            width: 60vw;
            height: 22.5vw;
            transform: scale(1.1);

            svg {
                width: 100%;
                height: 100%;

                .rotate {
                    transform-origin: center;

                    g {
                        opacity: 0;
                    }

                    .g2 {
                        width: 100%;
                        transform-origin: center;

                        path {
                            transform: rotateY(180deg);
                        }
                    }

                    .g4 {
                        width: 100%;
                        transform-origin: center;
                        opacity: 1;

                        line {
                            stroke-dasharray: 1000;
                            stroke-dashoffset: 1000;
                        }
                    }
                }


            }
        }
    }

    .titleBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: fit-content;
        padding-top: 10vw;

        h1 {
            font-weight: 700;
            font-size: 2vw;
            opacity: 0;
        }

        h5 {
            font-size: 0.8vw;
            transform: scale(0.95);
            font-weight: 400;
            opacity: 0;
        }

    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 1.5vw;
    border-bottom: 2px solid #000;
    position: fixed;
    background-color: #fff;

    transition: 1s;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 30;

    .logoBox {
        mix-blend-mode: normal;
        isolation: isolate;

        img {

            width: 5vw;
        }
    }

    .toolBox {
        display: flex;
        align-items: center;

        .user-area {
            padding: 0.2vw 0.5vw 0;
            margin-right: 2.5vw;

            position: relative;
            background-color: rgba(255, 255, 255);

            &-button {
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            img {
                display: block;
                width: 1.5vw;
            }

            p {
                font-size: 0.8vw;
                margin: 0 6px 0 20px;
            }

            .arrow {
                transform: rotate(180deg);
                width: 1.2vw;
                margin-top: 0.2vw;
            }

            .is-active {
                transform: none;
            }

            &-menu {
                display: none;
                width: 100%;
                position: absolute;
                left: 0;
                top: 100%;
                padding: 1vw 0.5vw;
                background-color: rgba(255, 255, 255);

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;


                    li {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        font-size: 0.8vw;
                        color: rgba(0, 0, 0, 0.85);
                        margin-top: 0.3vw;
                        cursor: pointer;
                    }

                    & :not(:last-child) {
                        padding-bottom: 0.3vw;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.308);
                    }
                }
            }
        }

        .menu-button {
            display: flex;
            align-items: center;
            color: #000;
            cursor: pointer;

            & :nth-child(1) {
                font-size: 2.5vw;

            }

            & :nth-child(2) {
                font-size: 0.8vw;

            }
        }
    }


    .progress-bar {
        width: 0;
        height: 4px;
        background-color: #000;
        position: absolute;
        bottom: -3px;
        left: 0;
    }
}

.menu {
    position: fixed;
    right: -30%;
    top: 0;
    width: 26vw;
    height: 51.5vw;
    background-color: #fff;
    z-index: 205;
    padding: 1vw 1.5vw;
    transition: right 1.5s;

    .close {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        cursor: pointer;

        img {
            width: 1.5vw;
        }
    }

    ul {
        margin-top: 4vw;
        margin-left: 2vw;

        li {
            font-size: 1vw;
            font-weight: 600;
            margin-bottom: 2.8vw;
            letter-spacing: 0.1em;
            opacity: 1;

            span {
                font-size: 0.9vw;
                letter-spacing: 0;
                font-weight: 300;
                color: rgba(0, 0, 0, 0.61);
                margin-left: 0.8vw;
                font-family: 'Noto Sans TC', sans-serif;
            }

            .sub-open {

                margin: 1.5vw 0vw 4.9vw 1.3vw;

                li {
                    margin-bottom: 1.6vw;
                    font-size: 0.8vw;
                    font-weight: 500;
                    position: relative;
                    letter-spacing: 0;
                    opacity: 1;

                    span {
                        font-size: 0.8vw;
                        color: rgba(0, 0, 0, 0.5);
                        letter-spacing: 0;
                        font-family: 'Noto Sans TC', sans-serif;
                    }

                    &::before {
                        display: block;
                        content: "";
                        position: absolute;
                        left: -0.9vw;
                        bottom: 0;
                        top: 0;
                        margin: auto 0;
                        width: 2%;
                        height: 1px;
                        background-color: rgba(0, 0, 0, 0.5);

                    }
                }
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;


    z-index: 10;
    background-color: #fff;
    padding: 1.2vw 0;
    border-top: 1px solid #000;

    p {
        font-size: 0.7vw;
        letter-spacing: 0.1em;

        span {
            margin: 0 1vw;
        }
    }
}

//slice square init
.clipPath {
    top: 0;
    pointer-events: none;
    position: fixed;
    z-index: -1;


    rect {
        transform-origin: 50% 50%;
        transform-box: fill-box;

    }
}

//slice square init
.phone {
    display: none;
}

@media all and(max-width:1039px) {
    :root {
        --ch_xs_text: 0.9vw;
        --more_text: 1vw;
        --ch_s_text: 2.8vw;
        --ch_m_text: 3.5vw;
        --ch_l_text: 4vw;
    }



    .computer {
        display: none;
    }

    .phone {
        display: block;
    }

    //menu 模糊class
    .blur {
        filter: none;
    }

    //menu 模糊class

    .loading-page {
        position: absolute;

        .contentBox {

            top: 40vw;

            .svgBox {
                width: 80vw;
                height: 30vw;
                transform: scale(2);
            }
        }

        .titleBox {

            padding-top: 32vw;

            h1 {
                font-size: 7.5vw;
            }

            h5 {
                font-size: 2.8vw;
            }

        }
    }

    header {
        padding: 0vw 2vw;

        .logoBox {
            img {

                width: 15vw;
            }
        }

        .toolBox {
            .user-area {



                img {
                    width: 4.5vw;
                }

                p {
                    font-size: 2.8vw;
                }

                .arrow {
                    width: 5vw;
                }



                &-menu {
                    display: none;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    padding: 1vw 0.5vw;
                    background-color: rgba(255, 255, 255);

                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;


                        li {
                            display: flex;
                            justify-content: center;
                            width: 100%;
                            font-size: 2.8vw;
                            color: rgba(0, 0, 0, 0.85);
                            margin-top: 1.5vw;
                            cursor: pointer;
                        }

                        & :not(:last-child) {
                            padding-bottom: 2vw;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.308);
                        }
                    }
                }
            }

            .menu-button {
                display: flex;
                align-items: center;
                color: #000;
                cursor: pointer;

                & :nth-child(1) {
                    font-size: 7vw;

                }

                & :nth-child(2) {
                    font-size: 2.8vw;

                }
            }
        }


        .progress-bar {
            width: 0;
            height: 4px;
            background-color: #000;
            position: absolute;
            bottom: -3px;
            left: 0;
        }
    }

    .menu {
        position: fixed;
        right: -100vw;
        top: 0;
        width: 100%;
        height: 155vw;
        background-color: #fff;


        transition: right 1.5s;

        .close {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            cursor: pointer;

            img {
                width: 6.5vw;
            }
        }

        ul {
            margin-top: 16vw;
            margin-left: 16vw;

            li {
                font-size: 3.6vw;
                margin-bottom: 10vw;
                opacity: 1;

                span {
                    font-size: 3.2vw;
                    margin-left: 2vw;
                }

                .sub-open {

                    margin: 6vw 0vw 10vw 4vw;

                    li {
                        margin-bottom: 4vw;
                        font-size: 2.8vw;


                        span {
                            font-size: 2.6vw;

                        }

                        &::before {
                            display: block;
                            content: "";
                            position: absolute;
                            left: -3vw;
                            bottom: 0;
                            top: 0;
                            margin: auto 0;
                            width: 2%;
                            height: 5px;
                            background-color: rgba(0, 0, 0, 0.5);

                        }
                    }
                }
            }
        }
    }

    footer {

        padding: 5vw 0;
        border-top: 1px solid rgba(0, 0, 0, 0.5);

        p {
            font-size: 2.8vw;
            text-align: center;
            line-height: 2;
            color: rgba(0, 0, 0, 0.5);

            span {
                margin: 0 1vw;
            }
        }
    }

    @media all and (max-width: 500px) {
        :root {
            --ch_xs_text: 0.9vw;
            --more_text: 2.6vw;
            --ch_s_text: 3.5vw;
            --ch_m_text: 3.7vw;
            --ch_l_text: 4.8vw;
        }

        .menu {
            right: -100vw;
            width: 100%;
            height: 220vw;

            .close {
                img {
                    width: 9vw;
                }
            }

            ul {
                margin-top: 20vw;
                margin-left: 14vw;

                li {
                    font-size: 4.8vw;
                    margin-bottom: 13vw;
                    opacity: 1;

                    span {
                        font-size: 4.3vw;
                        margin-left: 2vw;
                    }

                    .sub-open {

                        margin: 8vw 0vw 18vw 7vw;

                        li {
                            margin-bottom: 8.5vw;
                            font-size: 3.8vw;


                            span {
                                font-size: 3.5vw;

                            }

                            &::before {

                                left: -5vw;
                                bottom: 0;
                                top: 0;
                                margin: auto 0;
                                width: 3%;
                                height: 3.5px;

                            }
                        }
                    }
                }
            }
        }

        header {
            padding: 0vw 5vw;

            .logoBox {
                img {

                    width: 18vw;
                    margin-bottom: -1vw;
                }
            }

            .toolBox {
                .user-area {



                    img {
                        width: 5vw;
                    }

                    p {
                        font-size: 3.2vw;
                    }

                    .arrow {
                        width: 5vw;
                    }



                    &-menu {


                        ul {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 100%;


                            li {
                                font-size: 3.2vw;
                                margin-top: 2.5vw;
                                cursor: pointer;
                            }

                            & :not(:last-child) {
                                padding-bottom: 3.5vw;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.308);
                            }
                        }
                    }
                }

                .menu-button {
                    display: flex;
                    align-items: center;
                    color: #000;
                    cursor: pointer;

                    & :nth-child(1) {
                        font-size: 9vw;

                    }

                    & :nth-child(2) {
                        font-size: 3.2vw;

                    }
                }
            }


            .progress-bar {
                width: 0;
                height: 4px;
                background-color: #000;
                position: absolute;
                bottom: -3px;
                left: 0;
            }
        }

        footer {

            padding: 6vw 0;

            p {
                font-size: 3.2vw;
                text-align: center;
                line-height: 2;
                color: rgba(0, 0, 0, 0.5);
            }
        }

        .loading-page {

            .contentBox {

                top: 52vw;


                .svgBox {
                    width: 80vw;
                    height: 30vw;
                    transform: scale(2.8);
                    margin-right: 0.85vw;
                }
            }

            .titleBox {

                padding-top: 40vw;

                h1 {
                    font-size: 8.7vw;
                }

                h5 {
                    font-size: 3.5vw;
                }

            }
        }


    }
}