$dark-green: #126233;
$semi-green: #126233cb;
$light-green: #1262338e;

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 3.5vw;
    height: 50.5vw;
    background: linear-gradient(90deg, rgb(219, 219, 219) 50%, #7ad796 100%);
    overflow: hidden;

    * {
        font-family: 'Noto Serif TC', sans-serif;
    }

    #particles-js {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;

        canvas {
            filter: blur(5px);
            width: 100%;
            height: 100%;
        }
    }

    .content {
        display: none;
        justify-content: center;
        align-items: center;
        width: 70vw;
        height: 40vw;
        z-index: 12;
        background-color: rgba(255, 255, 255, 0.253);
        backdrop-filter: blur(15px);
        border-radius: 25px;
        border: 1px solid #fff;


        &-box {
            width: fit-content;
            position: relative;
            padding-bottom: 4vw;

            .content-logo {
                display: flex;
                justify-content: center;
                width: 100%;

                img {
                    width: 5vw;

                }
            }

            .content-sign {
                display: flex;
                width: 100%;
                font-size: var(--ch_s_text);
                margin: 1vw 0 2vw;

                div {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 0.3vw;
                    flex: 0 0 50%;
                    cursor: pointer;
                    border-bottom: 1px solid $light-green;

                    p {
                        pointer-events: none;

                        color: $light-green;

                        font-weight: 600;

                        span {
                            font-size: var(--ch_xs_text);
                        }
                    }
                }

                .signIn {
                    position: relative;

                    &::after {
                        display: block;
                        content: "";
                        position: absolute;
                        left: 100%;
                        bottom: 0;
                        width: 100%;
                        height: 2.5px;
                        background-color: $dark-green;
                        transition: 0.5s;
                    }
                }

                .is-active {

                    p {
                        color: $dark-green;
                    }

                    &::after {

                        left: 0%;

                    }
                }
            }

            form {
                opacity: 0;
                pointer-events: none;
                width: 15vw;
                transition: 0.3s;


                .form-box {
                    position: relative;
                    width: 100%;
                    margin-bottom: 0.5vw;


                    >p {
                        font-size: 0.8vw;
                        color: $semi-green;
                        margin-bottom: 5px;
                        margin-left: 0.5vw;
                        font-weight: 600;

                        span {
                            font-size: 0.65vw;
                            font-weight: 300;
                        }
                    }

                    input {
                        width: 100%;
                        background-color: transparent;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        outline: none;
                        border-radius: 40px;
                        padding: 0.5vw;
                        font-size: var(--more_text);
                        color: rgba(0, 0, 0, 0.5);
                    }

                    input[type=submit] {
                        cursor: pointer;
                        background-color: $light-green;
                        color: #fff;
                        border: none;
                        margin-top: 1.5vw;

                        &:hover {
                            background-color: #00372041;
                        }
                    }

                    .forgetPassword {
                        position: absolute;
                        z-index: 5;
                        right: 0.5vw;
                        bottom: -1.1vw;
                        cursor: pointer;

                        p {
                            font-size: 0.6vw;
                            color: $dark-green;
                        }
                    }
                }
            }

            &>.signUp {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                position: absolute;
                top: 11vw;
                left: -12.5vw;
                width: 40vw;


                .form-box {
                    flex: 0 0 48%;
                }

                & :nth-child(5) {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    flex: 0 0 100%;

                    input {
                        width: 48%;
                    }

                    >p {
                        margin-right: 13.2vw;
                    }
                }

                & :nth-child(6) {
                    display: flex;
                    justify-content: center;
                    flex: 0 0 100%;

                    input {
                        width: 48%;
                    }


                }
            }




            >.is-active {
                animation-name: up;
                animation-duration: 0.3s;
                animation-fill-mode: forwards;
                animation-timing-function: linear;
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    .content2 {
        display: none;
        position: relative;

        .content-logo {
            position: absolute;
            width: fit-content;
            left: -18vw;
            top: -3vw;
        }

        .content-sign {
            width: 100%;
            display: flex;
            justify-content: center;
            border-bottom: 3px solid $dark-green;
            padding-bottom: 0.5vw;
            margin-bottom: 2.5vw;
            font-weight: 600;
            color: $dark-green;
        }

        .content-box {
            padding: 0;

            form {
                width: 20vw;

                .verification {
                    position: relative;

                    .hint {
                        position: absolute;
                        width: 1.5vw;
                        height: 1.5vw;
                        bottom: 0.5vw;
                        right: -2.5vw;

                        img {
                            opacity: 0;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                        }

                        .is-active {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .is-active2 {
        display: flex;
    }
}

@keyframes up {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}