.login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 3.5vw;
    height: 100vh;

    overflow: hidden;

    * {
        font-family: 'Noto Serif TC', sans-serif;
    }

    #particles-js {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: linear-gradient(90deg, rgb(255, 255, 255) 50%, #7ad796 100%);

        canvas {
            filter: blur(5px);
            width: 100%;
            height: 100%;
        }
    }

    .content {
        display: none;
        justify-content: center;
        align-items: center;
        width: 70vw;
        height: 39vw;
        z-index: 12;
        background-color: rgba(255, 255, 255, 0.53);
        backdrop-filter: blur(25px);
        border-radius: 25px;
        border: 1px solid #fff;

        &-box {
            width: fit-content;
            min-width: 15%;
            position: relative;
            padding-bottom: 2vw;

            .content-logo {
                display: flex;
                justify-content: center;
                width: 100%;

                img {
                    width: 3.5vw;

                }
            }

            .content-sign {
                display: flex;
                width: 100%;

                margin: 2vw 0 2vw;

                >p {
                    font-size: var(--ch_m_text);
                }

                div {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 0.3vw;
                    flex: 0 0 50%;
                    cursor: pointer;
                    border-bottom: 1px solid $light-green;

                    p {
                        pointer-events: none;
                        font-size: var(--more_text);
                        color: $light-green;
                        letter-spacing: 0.05em;
                        font-weight: 600;

                        span {
                            font-size: var(--ch_xs_text);
                        }
                    }
                }

                .signIn {
                    position: relative;

                    &::after {
                        display: block;
                        content: "";
                        position: absolute;
                        left: 102%;
                        bottom: 0;
                        width: 100%;
                        height: 2.5px;
                        background-color: $dark-green;
                        transition: 0.5s;
                    }
                }

                .is-active {

                    p {
                        color: $dark-green;
                    }

                    &::after {

                        left: 0%;

                    }
                }
            }

            form {
                opacity: 0;
                pointer-events: none;
                width: 15vw;
                transition: 0.3s;


                .form-box {
                    position: relative;
                    width: 100%;
                    margin-bottom: 1vw;


                    >p {
                        font-size: var(--ch_xs_text);
                        color: $semi-green;
                        margin-bottom: 5px;
                        margin-left: 0.5vw;
                        font-weight: 600;
                        letter-spacing: 0.05em;

                        span {
                            margin-left: 3px;
                            font-size: 0.5vw;
                            font-weight: 300;
                        }
                    }

                    input {
                        width: 100%;
                        background-color: transparent;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        outline: none;
                        border-radius: 40px;
                        padding: 0.5vw 1vw;
                        font-size: var(--ch_xs_text);
                        color: rgba(0, 0, 0, 0.6);
                        font-family: 'Noto Serif TC', sans-serif;
                        letter-spacing: 1.5px;
                        font-weight: 400;

                        &::placeholder{
                            color: rgb(0 0 0 / 40%);
                        }
                    }

                    

                    input[type=submit] {
                        cursor: pointer;
                        background-color: $light-green;
                        color: #fff;
                        border: none;
                        margin-top: 1.5vw;
                        font-size: var(--ch_xs_text);

                        &:hover {
                            background-color: #00372041;
                        }
                    }

                    .signUp_btn{
                        width: 40%;
                    }

                    .submit_btn{
                        cursor: pointer;
                        background-color: $light-green;
                        color: #fff;
                        border: none;
                        font-size: var(--ch_xs_text);
                        border-radius: 40px;
                        padding: .5vw 1vw;
                        display: block;
                        text-align: center;
                        margin: auto;

                        &:hover {
                            background-color: #00372041;
                        }
                    }

                    .flex_div{
                        input[type=submit]{
                            flex: 1 1 50%;
                        }
                        
                        .new_pwd_btn{
                            flex: 1 1 50%;
                        }
                        .back_btn{
                            flex: 1 1 50%;
                            background-color: rgb(0 55 32 / 10%);
                            border: 1px solid rgb(0 55 32 / 60%);
                            color: #003720;
                            border-radius: 50px;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 10px;
                            font-size: var(--ch_xs_text);

                            &:hover{
                                background-color: #00372041;
                            }
                        }
                    }

                    

                    .box {
                        display: flex;
                        flex-direction: column;
                        position: relative;

                        .forgetPassword {
                            position: relative;
                            z-index: 5;
                            align-self: flex-end;
                            cursor: pointer;
                            margin: 0.5vw 0.5vw 0 0;

                            p {
                                font-size: 0.6vw;
                                color: $dark-green;
                            }
                        }
                    }

                    .community_div{
                        input{
                            border: none;
                            border-bottom: 1px solid rgb(0 0 0 / 20%);
                            border-radius: 0;
                            padding: 10px;
                            margin-left: 15px;
                            flex: 1 1;
                        }
                    }

                    select{
                        background-color: rgba(0,0,0,0);
                        border: 1px solid rgba(0,0,0,.2);
                        outline: none;
                        border-radius: 40px;
                        padding: .5vw 1vw;
                        font-size: var(--ch_xs_text);
                        color: rgba(0,0,0,.6);
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        background-image: url(../img/login/SVG/arrow-down.svg);
                        background-repeat: no-repeat;
                        background-position: 93% center;
                        font-family: 'Noto Serif TC', sans-serif;
                        background-size: 15px 15px;
                        flex: 1 1 13%;
                    }

                    label{
                        padding: 10px;
                        display: inline-block;
                        color: rgba(0,0,0,.5);
                    }
                    [type="radio"]{
                        width: auto;
                        margin-right: 7px;
                    }

                }
            }

            &>.signUp {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                position: absolute;
                top: 9.5vw;
                left: -12.5vw;
                width: 40vw;


                .form-box {
                    flex: 1 1 50%;
                    padding: 0 1vw;
                }



                // & :nth-child(7) {
                //     display: flex;
                //     justify-content: center;
                //     flex: 0 0 100%;

                //     input {
                //         width: 48%;
                //     }
                // }
            }

            &>.signIn {
                .form-box {
                    input[type=submit] {

                        margin-top: 0vw;


                    }

                }
            }


            >.is-active {
                animation-name: up;
                animation-duration: 0.3s;
                animation-fill-mode: forwards;
                animation-timing-function: linear;
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    .content2 {
        display: none;
        position: relative;



        .content-sign {
            width: 100%;
            display: flex;
            justify-content: center;
            border-bottom: 3px solid $dark-green;
            padding-bottom: 0.5vw;
            margin-bottom: 2.5vw;
            font-weight: 600;
            color: $dark-green;

            p {
                font-size: var(--ch_s_text);
            }
        }

        .content-box {
            padding: 0;

            form {
                width: 20vw;

                .checkFormat {
                    .hint {
                        position: absolute;
                        width: 1.5vw;
                        height: 1.5vw;
                        top: 0;
                        bottom: 0;
                        margin: auto 0;
                        right: 0.6vw;

                        img {
                            opacity: 0;
                            position: absolute;
                            left: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                            width: 86%;
                        }

                        .is-active {
                            opacity: 1;
                        }
                    }
                }

                .verification {
                    position: relative;



                    .hint2 {
                        position: absolute;
                        width: 1.5vw;
                        height: 1.5vw;
                        bottom: 0.35vw;
                        right: 8.2vw;

                        img {
                            opacity: 0;
                            position: absolute;
                            left: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                            width: 86%;
                        }

                        .is-active {
                            opacity: 1;
                        }
                    }

                    .box {
                        position: relative;

                        .submit-verification-code {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: fit-content;
                            height: 100%;
                            background-color: #00372065;
                            cursor: pointer;
                            border-radius: 120px;
                            padding: 0 2vw;

                            p {
                                font-size: var(--ch_xs_text);
                                color: #fff;
                                letter-spacing: 0.1em;


                                pointer-events: none;
                            }
                        }
                    }

                }
            }
        }
    }

    .is-active2 {
        display: flex;
    }
}

@keyframes up {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media all and (max-width:1039px) {
    .login {
        margin-top: 7vw;
        height: fit-content;

        .content {
            display: none;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: fit-content;
            padding: 12vw 0;
            margin: 10vw 0;

            &-box {
                width: fit-content;
                position: relative;
                padding: 0;


                .content-logo {
                    margin-bottom: 5vw;

                    img {
                        width: 13vw;

                    }
                }

                .content-sign {
                    margin: 1vw 0 5vw;

                    >p {
                        font-size: var(--ch_m_text);
                        padding-bottom: 1.2vw;
                    }

                    div {
                        width: fit-content;
                        flex: auto;
                        padding: 0 3vw 1.2vw;

                        p {
                            font-size: var(--ch_m_text);

                            span {
                                font-size: var(--more_text);
                            }
                        }
                    }
                }

                form {
                    width: 100%;

                    .form-box {
                        margin-bottom: 7vw;

                        


                        >p {
                            margin-left: 1.5vw;
                            margin-bottom: 1.5vw;
                            font-size: var(--ch_s_text);

                            span {
                                font-size: var(--ch_xs_text);
                                font-weight: 300;
                            }
                        }

                        input {
                            padding: 1.5vw 2.5vw;
                            font-size: var(--ch_s_text);
                        }

                        input[name="birthday"]{
                            appearance: none;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            background-image: url(../img/login/SVG/calendar.svg);
                            background-repeat: no-repeat;
                            background-position: 93% center;
                            background-size: 15px 15px;
                        }

                        input[type=submit] {
                            margin-top: 1.5vw;
                            font-size: var(--ch_s_text);
                        }

                        

                        .submit_btn,
                        .back_btn{
                            margin-top: 1.5vw;
                            font-size: var(--ch_s_text);
                            padding: 1.5vw;
                        }

                        .box {

                            .forgetPassword {
                                margin: 1.5vw 1.5vw 0 0;

                                p {
                                    font-size: var(--ch_xs_text);
                                    color: $dark-green;
                                }
                            }
                        }

                    }
                }

                &>.signUp {
                    display: none;
                    flex-direction: column;
                    flex-wrap: wrap;
                    position: static;


                    width: 100%;


                    .form-box {
                        flex: auto;
                        // padding: 0 5vw;
                    }



                    // & :nth-child(7) {
                    //     display: flex;
                    //     justify-content: center;
                    //     flex: 0 0 100%;

                    //     input {
                    //         width: 100%;
                    //     }
                    // }
                }

                &>.signIn {
                    display: none;
                    flex-direction: column;

                    .form-box {
                        input[type=submit] {

                            margin-top: 0vw;


                        }

                    }
                }


                >.is-active {
                    display: flex;
                    animation-name: up;
                    animation-duration: 0.3s;
                    animation-fill-mode: forwards;
                    animation-timing-function: linear;

                    pointer-events: all;
                }
            }
        }

        .content2 {
            .content-sign {
                border-bottom: 1px solid $dark-green;
            }

            .content-box {
                form {
                    width: 100%;

                    .checkFormat {
                        .box {
                            position: relative;

                            .hint {
                                position: absolute;
                                width: 5vw;
                                height: 5vw;
                                top: 0;
                                margin: auto 0;
                                bottom: 0;
                                right: 2vw;
                            }
                        }

                    }

                    .verification {
                        position: relative;




                        .box {
                            position: relative;

                            .hint2 {
                                width: 5vw;
                                height: 5vw;
                                bottom: 0;
                                top: 0;
                                margin: auto 0;
                                right: 25vw;
                            }

                            .submit-verification-code {
                                padding: 0 5vw;

                                p {
                                    font-size: var(--more_text);
                                }
                            }
                        }

                    }
                }
            }
        }

        .is-active2 {
            display: flex;
        }
    }

    @media all and (max-width:500px) {
        .login {
            margin-top: 12vw;

            .content {
                padding: 20vw 0;
                margin: 20vw 0;

                &-box {
                    width: fit-content;
                    position: relative;
                    padding: 0;


                    .content-logo {
                        margin-bottom: 8vw;

                        img {
                            width: 18vw;

                        }
                    }

                    .content-sign {
                        margin: 2vw 0 8vw;

                        >p {
                            padding-bottom: 2vw;
                        }

                        div {
                            padding: 0 6vw 2vw;
                        }
                    }

                    form {
                        width: 100%;

                        .form-box {
                            margin-bottom: 5vw;


                            >p {
                                margin-left: 2.5vw;
                                margin-bottom: 2.5vw;
                            }

                            input {
                                padding: 2vw 3vw;
                            }

                            input[type=submit] {
                                margin-top: 3vw;
                            }

                            select{
                                width: 100%;
                                padding: 2vw 3vw;
                                font-size: var(--ch_s_text);
                                background-size: 10px 10px;
                                
                            }

                            // select {
                            //     margin: 4vw 0 5vw;
                            //     padding: 0 2.5vw;
                            //     height: 10vw;
                            //     background-size: 10px 10px;
                            // }

                            .flex_div{
                                .back_btn{
                                    margin: 0 !important;
                                    font-size: var(--ch_s_text);
                                }
                            }
                            

                            .submit_btn,
                            .back_btn{
                                width: 100%;
                                margin-top: 3vw;
                                padding: 3vw;
                                flex: 1 1 100% !important;
                            }

                            .community_div {

                                flex-direction: column;

                                input{
                                    margin: 0;
                                    margin-top: 2vw;
                                }
                            }

                            .box {

                                .forgetPassword {
                                    margin: 2.5vw 2.5vw 0 0;

                                    p{
                                        font-size: var(--ch_s_text);
                                    }
                                }
                            }

                        }
                    }




                }
            }

            .content2 {

                .content-box {
                    form {

                        .checkFormat {
                            .box {

                                .hint {
                                    width: 6vw;
                                    height: 6vw;
                                    right: 2.5vw;
                                }
                            }

                        }

                        .verification {
                            position: relative;




                            .box {
                                position: relative;

                                .hint2 {
                                    width: 6vw;
                                    height: 6vw;
                                    right: 28vw;
                                }

                                .submit-verification-code {
                                    padding: 0 5vw;
                                    font-size: var(--ch_s_text);

                                    p {
                                        font-size: var(--more_text);
                                    }
                                }
                            }

                        }

                        &> :last-child {
                            margin-top: 4vw;
                        }
                    }
                }
            }
        }
    }
}