.newsInner {
    width: 100%;
    min-height: 100vh;

    .title-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: 10vw auto 4vw 0;
        padding: 0 1.5vw 0.8vw 8.5%;
        border-bottom: 1px solid #000;

        .title {
            h3 {
                font-size: var(--ch_s_text);
                letter-spacing: 0.1em;
                opacity: 0.8;
            }
        }

        .date {
            p {
                font-size: var(--ch_xs_text);
                letter-spacing: 0.1em;
                opacity: 0.6;
            }
        }
    }

    .content {
        width: 83%;
        margin: 0 auto;

        ul {
            width: 100%;

            li {
                width: 100%;

                .imgBox {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 4vw;
                    overflow: hidden;

                    img {
                        max-width: 100%;
                    }

                    &> :not(:last-child) {
                        margin-right: 2vw;
                    }
                }

                .paraBox {
                    width: 100%;

                    p {
                        font-size: var(--ch_s_text);
                        line-height: 1.8;
                        opacity: 0.6;
                        letter-spacing: 0.06em;
                        text-align: justify;
                    }
                }
            }

            &> :not(:last-child) {
                margin-bottom: 8vw;
            }

            &> :last-child {
                padding-bottom: 10vw;
            }
        }

    }
}

@media all and (max-width:1039px) {
    .newsInner {
        width: 100%;
        min-height: 100vh;

        .title-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            margin: 20vw auto 10vw 0;
            padding: 0 2.5vw 1.5vw 11.5%;
            border-bottom: 1px solid #000;
        }

        .content {
            width: 90%;
            margin: 0 auto 0 0;

            ul {
                width: 100%;

                li {
                    width: 100%;

                    .imgBox {
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        margin-bottom: 8vw;

                        img {
                            width: 100%;
                            max-width: 100%;
                        }

                        &> :not(:last-child) {
                            margin: 0;
                            margin-bottom: 70px;
                        }
                    }

                    .paraBox {
                        width: 87%;
                        margin: 0 0 0 auto;

                        p {
                            line-height: 2;
                        }
                    }
                }

                &> :not(:last-child) {
                    margin-bottom: 15vw;
                }

                &> :last-child {
                    padding-bottom: 15vw;
                }
            }

        }
    }

    @media all and (max-width:500px) {
        .newsInner {
            width: 100%;
            min-height: 100vh;

            .title-box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                margin: 25vw auto 13vw 0;
                padding: 0 2.5vw 2.5vw 11.5%;
                border-bottom: 1px solid #000;

                .title {
                    h3 {
                        font-size: var(--ch_m_text);
                    }
                }
            }

            .content {
                width: 90%;
                margin: 0 auto 0 0;

                ul {
                    width: 100%;

                    li {
                        width: 100%;

                        .imgBox {
                            display: flex;
                            flex-wrap: wrap;
                            width: 100%;
                            margin-bottom: 8vw;

                            img {
                                width: 100%;
                                max-width: 100%;
                            }

                            &> :not(:last-child) {
                                margin: 0;
                                margin-bottom: 70px;
                            }
                        }

                        .paraBox {
                            width: 87%;
                            margin: 0 0 0 auto;

                            p {
                                line-height: 2;
                            }
                        }
                    }

                    &> :not(:last-child) {
                        margin-bottom: 15vw;
                    }

                    &> :last-child {
                        padding-bottom: 15vw;
                    }
                }

            }

        }

    }
}