.portfolio {
    width: 100%;
    overflow: hidden;

    .first-page {
        width: 100%;
        height: auto;
        position: relative;
        padding-top: 3.5vw;
        margin-bottom: 10vw;

        &-bg {
            width: 100%;


            img {

                width: 100%;
                height: auto;
            }
        }

        &-title {
            width: fit-content;
            height: fit-content;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;

            h2,
            h3 {
                text-align: center;
                color: #fff;
            }

            h2 {
                font-size: 1.4vw;
                letter-spacing: 0.2em;
                font-weight: 600;
            }

            h3 {
                font-size: 0.8vw;
                margin-right: 0.3vw;

            }
        }
    }

    .second-page {
        width: 70.5%;
        margin: 0 auto;

        &-logo {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 0vw;

            img {
                width: 5vw;
            }
        }

        &-content {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            position: relative;
            margin-top: -1vw;



            &::after {
                display: block;
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 4vw;
                margin: 0 auto;
                background-color: #000;
                width: 1px;
                height: 100%;
                z-index: -1;
            }



            .content-box {
                width: 28vw;
                align-self: flex-end;
                margin-bottom: 0vw;


                &-top {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin-bottom: 1.5vw;

                    .box {
                        display: flex;
                        align-items: center;
                        margin-left: -7.52vw;

                        .dot {
                            background-color: #4F4F4F;
                            width: 0.6vw;
                            height: 0.6vw;
                            border-radius: 50%;
                            margin-right: 1.4vw;
                        }

                        p {
                            opacity: 0.8;
                            font-size: var(--ch_l_text);
                            font-weight: 700;
                            margin-right: 1.4vw;
                        }

                        h4 {
                            color: $green_color;
                            font-size: var(--ch_l_text);
                        }
                    }



                    img {
                        width: 15vw;
                        opacity: 0;
                        transition: 0.8s;
                    }
                }

                &-bottom {
                    p {
                        font-size: var(--ch_m_text);
                        opacity: 0.6;
                        line-height: 1.7em;
                    }
                }

                &:hover {
                    .content-box-top {
                        img {
                            opacity: 1;
                        }
                    }
                }
            }

            & :nth-child(even) {
                align-self: flex-start;


                .content-box-top {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin-bottom: 1.5vw;

                    .box {
                        display: flex;
                        align-items: center;
                        margin: 0;
                        margin-right: -7.58vw;

                        .dot {
                            margin: 0;
                            order: 2;
                            margin-left: 1.4vw;
                        }

                        p {
                            margin: 0;
                            margin-left: 1.4vw;
                            order: 0;
                            padding-left: 0.6vw;
                        }

                        h4 {

                            order: -1;
                        }
                    }



                    img {
                        order: -1;

                    }
                }

                .content-box-bottom {
                    p {
                        font-size: var(--ch_m_text);
                        opacity: 0.6;
                    }
                }
            }

            &> :last-child {
                margin-bottom: 8vw;
            }
        }
    }

}