.body-noscroll {
    overflow: hidden !important;
}

.progress {
    overflow: hidden;

    .first-page {
        width: 100%;
        height: 50.5vw;
        padding-top: 12vw;

        &-title {

            position: relative;

            h2,
            h3 {
                text-align: center;

            }

            h2 {
                font-size: var(--ch_m_text);
                letter-spacing: 0.2em;
                font-weight: 600;
            }

            h3 {
                font-size: var(--ch_xs_text);
                margin-right: 0.3vw;

            }

            &::after {
                display: block;
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: -3vw;
                margin: 0 auto;
                width: 1px;
                height: 1.5vw;
                background-color: #000;
                opacity: 0.8;
            }
        }

        &-bg {
            width: 95%;
            margin: 0 auto;
            margin-top: 5vw;

            img {
                width: 100%;
            }
        }

        .caseName {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 5vw;

            position: relative;

            h2 {
                font-size: var(--ch_m_text);
                letter-spacing: 0.3em;
                margin-right: -0.6vw;
            }

            &::after {
                display: block;
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -3vw;
                margin: 0 auto;
                width: 1px;
                height: 1.5vw;
                background-color: #000;
                opacity: 0.8;
            }
        }
    }

    main {
        width: 80%;
        margin: 0 auto 5vw;

        .content {
            display: flex;
            flex-wrap: wrap;


            margin-bottom: 10vw;


            .title {
                flex: 0 0 100%;
                width: 100%;
                padding-bottom: 1vw;
                padding-left: 0.8vw;
                border-bottom: 1px solid #000;
                margin-bottom: 2vw;

                p {
                    font-size: var(--ch_s_text);
                    font-weight: 600;

                    span {
                        color: $green_color;
                        font-size: var(--ch_m_text);
                        margin-right: 1.2vw;
                    }
                }
            }

            &-left {
                flex: 0 0 65%;
                width: 65%;
                height: 32vw;
                padding-left: 1.5vw;

                .swiper1 {
                    width: 100%;
                    height: 100%;

                    .swiper-wrapper {
                        width: 100%;
                        height: 100%;

                        .swiper-slide {
                            display: none;
                            width: 100%;
                            height: 100%;

                            .imgBox {
                                width: 100%;
                                height: 100%;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }

                        & .swiper-slide:nth-child(-n+9) {
                            display: block;
                        }
                    }
                }
            }

            &-right {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                flex: 0 0 35%;
                width: 35%;
                height: fit-content;
                padding: 0 1vw;

                img {
                    display: none;
                    cursor: pointer;
                    width: 31%;
                    height: 8.5vw;
                    margin-right: .5vw;
                    margin-bottom: 1vw;
                    object-fit: cover;
                    filter: brightness(0.4);
                }

                .is-active {
                    filter: none;
                }

                & :nth-child(3n) {
                    margin-right: 0;
                }

                & img:nth-child(-n+9) {
                    display: block;
                }

                .more {
                    display: none;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    border: 1px solid #000;
                    cursor: pointer;

                    p {
                        font-size: var(--more_text);
                    }
                }
            }


            .more-active {
                height: auto;

                img {
                    margin: 0;
                }

                .more {
                    display: flex;

                }
            }
        }

        .pop-up {
            position: fixed;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.85);
            width: 100%;
            height: 100vh;
            z-index: -1;
            padding-top: 5vw;
            overflow: auto;
            opacity: 0;
            transition: 0.5s;

            &-close {
                position: absolute;
                right: 10vw;
                top: 5vw;
                cursor: pointer;

                img {
                    width: 2.3vw;
                    pointer-events: none;
                }
            }

            &-content {
                display: flex;
                flex-direction: column;
                width: 55%;
                margin: 0 auto;

                .title {
                    margin: 0 auto 2vw;
                    width: fit-content;

                    p {
                        font-size: var(--ch_s_text);
                        font-weight: 600;
                        color: #fff;

                        span {
                            color: $green_color;
                            font-size: var(--ch_m_text);
                            margin-right: 1.2vw;
                        }
                    }
                }

                &-top {
                    .swiper {
                        width: 100%;
                        height: fit-content;

                        .swiper-wrapper {
                            width: 100%;
                            height: fit-content;

                            .swiper-slide {
                                width: 100%;
                                height: fit-content;

                                .imgBox {
                                    width: 100%;
                                    height: fit-content;

                                    img {
                                        width: 100%;
                                        height: 35vw;
                                        object-fit: cover;
                                    }
                                }
                            }

                        }
                    }
                }

                &-bottom {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 100%;
                    margin-top: 2vw;


                    img {
                        width: 18%;
                        margin-bottom: 1.6vw;
                        cursor: pointer;
                    }
                }
            }
        }

        .pop-up-active {
            opacity: 1;
            z-index: 300;
        }
    }

}

@media all and (max-width:1039px) {
    .progress {
        .first-page {
            width: 100%;
            height: fit-content;
            padding-top: 22vw;
            margin-bottom: 16vw;

            &-title {
                margin-bottom: 10vw;

                p {
                    font-size: var(--ch_m_text);

                    span {
                        font-size: var(--ch_l_text);
                    }
                }

                &::after {
                    bottom: -6vw;
                    height: 3.5vw;
                }
            }

            .caseName {
                margin-top: 10vw;

                h2 {
                    font-size: var(--ch_l_text);
                    letter-spacing: 0.3em;
                    margin-right: -0.6vw;
                }

                &::after {
                    top: -6vw;
                    height: 3.5vw;
                }
            }
        }

        main {
            width: 90%;
            margin: 0 auto 10vw;

            .content {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                margin-bottom: 10vw;


                .title {
                    padding-bottom: 2.5vw;
                    padding-left: 1.5vw;
                    margin-bottom: 7vw;

                    p {
                        span {
                            margin-right: 2vw;
                        }
                    }
                }

                &-left {
                    width: 100%;
                    height: fit-content;
                    padding-left: 0vw;
                    margin-bottom: 3vw;

                    .swiper1 {
                        width: 100%;
                        height: fit-content;

                        .swiper-wrapper {
                            width: 100%;
                            height: fit-content;

                            .swiper-slide {
                                display: none;
                                width: 100%;
                                height: fit-content;

                                .imgBox {
                                    width: 100%;
                                    height: fit-content;

                                    img {
                                        width: 100%;
                                        height: 65vw;
                                        object-fit: cover;
                                    }
                                }
                            }

                            & .swiper-slide:nth-child(-n+9) {
                                display: block;
                            }
                        }
                    }
                }

                &-right {
                    width: 100%;
                    padding: 0;

                    img {
                        width: 32%;
                        height: 23vw;
                        margin-right: .8vw;
                        margin-bottom: 1.4vw;
                    }

                    .is-active {
                        filter: none;
                    }

                    & :nth-child(3n) {
                        margin-right: 0;
                    }

                    & img:nth-child(-n+9) {
                        display: block;
                    }

                    .more {
                        display: none;
                        justify-content: center;
                        align-items: center;
                        width: 60%;
                        padding: 2vw 0;
                        margin: 4vw auto 0;
                        border: 1px solid #000;
                        cursor: pointer;

                        p {
                            font-size: var(--ch_s_text);
                        }
                    }
                }


                .more-active {
                    height: auto;

                    img {
                        margin-right: .8vw;
                        margin-bottom: 1.4vw;
                    }
                }
            }

            .pop-up {
                padding-top: 20vw;

                &-close {
                    position: absolute;
                    right: 4vw;
                    top: 6vw;

                    img {
                        width: 7vw;
                    }
                }

                &-content {
                    width: 90%;

                    .title {
                        margin: 0 0 6vw;
                        width: fit-content;

                        p {
                            font-size: var(--ch_m_text);

                            span {
                                font-size: var(--ch_l_text);
                                margin-right: 1.5vw;
                            }
                        }
                    }

                    &-top {
                        .swiper {
                            width: 100%;
                            height: fit-content;

                            .swiper-wrapper {
                                width: 100%;
                                height: fit-content;

                                .swiper-slide {
                                    width: 100%;
                                    height: fit-content;

                                    .imgBox {
                                        width: 100%;
                                        height: fit-content;

                                        img {
                                            width: 100%;
                                            height: 70vw;
                                            object-fit: cover;
                                        }
                                    }
                                }

                            }
                        }
                    }

                    &-bottom {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        width: 100%;
                        margin-top: 2vw;


                        img {
                            width: 31%;
                            margin-bottom: 3vw;
                            cursor: pointer;
                        }
                    }
                }
            }

            .pop-up-active {
                opacity: 1;
                z-index: 300;
            }
        }
    }
}