.user {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 3.5vw;
    height: 50.5vw;

    overflow: hidden;

    #particles-js {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: linear-gradient(90deg, rgb(255, 255, 255) 50%, #7ad796 100%);

        canvas {
            filter: blur(5px);
            width: 100%;
            height: 100%;
        }
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70vw;
        height: 40vw;
        z-index: 12;
        background-color: rgba(255, 255, 255, 0.53);
        backdrop-filter: blur(25px);
        border-radius: 25px;
        border: 1px solid #fff;

        &-box {
            width: 55%;
            margin: 6vw auto 0;
            position: relative;
            padding-bottom: 4vw;


            .title {
                width: 100%;
                border-bottom: 4px solid $dark-green;
                padding-bottom: 0.6vw;
                padding-left: 1vw;

                h1 {
                    font-size: var(--ch_m_text);
                    color: $semi-green;
                    font-weight: 500;
                }
            }

            form {
                width: 85%;
                margin: 3vw auto 0;

                .form-box {
                    display: flex;
                    align-items: baseline;
                    width: 100%;
                    margin-bottom: 2.5vw;

                    label {
                        display: flex;
                        align-items: center;
                        font-size: var(--ch_xs_text);
                        margin-right: 1vw;
                        font-family: 'Noto Serif TC', sans-serif;

                        input {
                            width: 0.8vw;
                            height: 0.8vw;
                            margin-right: 15px;

                        }
                    }

                    p {
                        margin-right: 20px;
                        font-size: var(--ch_xs_text);
                        color: $dark-green;
                        flex: 0 0 10%;
                    }

                    input {
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.322);
                        flex: 0 1 90%;
                        font-size: 0.7vw;
                        letter-spacing: 0.1em;
                        padding-left: 8px;
                        padding-bottom: 8px;
                        font-family: 'Noto Serif TC', sans-serif;
                        letter-spacing: 0.2em;

                        &:focus {
                            outline: none;
                        }

                    }

                    select {
                        position: relative;
                        flex: 0 0 30%;
                        margin-right: 1vw;
                        padding: 0 0.5vw;
                        font-size: 0.7vw;
                        height: 1.5vw;
                        align-self: center;
                        border-radius: 40px;
                        background-color: transparent;
                        color: rgba(0, 0, 0, 0.514);
                        cursor: pointer;
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        background-image: url(../img/login/SVG/arrow-down.svg);
                        background-repeat: no-repeat;
                        background-position: 93% center;
                        font-family: 'Noto Serif TC', sans-serif;
                        background-size: 15px 15px;

                        &:focus {
                            outline: none;
                        }



                    }

                    .tobe {
                        flex: auto;
                        width: 100%;
                    }

                    .floor {
                        margin-left: 0.5vw;
                        flex: auto;
                        width: 100%;
                    }
                }

                &> :last-child {
                    position: absolute;
                    width: fit-content;
                    bottom: 4vw;
                    right: -13vw;

                    input {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex: none;
                        padding: 0.4vw 2.5vw;
                        border-radius: 40px;
                        font-size: var(--ch_xs_text);
                        cursor: pointer;
                        border: none;
                    }

                    &> :nth-child(1) {

                        color: $dark-green;

                        input {
                            background-color: #fff;
                            pointer-events: none;

                        }
                    }

                    &> :nth-child(2) {
                        background-color: $light-green;
                        color: #fff;
                    }

                    a {
                        margin-right: 1vw;
                    }
                }
            }
        }
    }
}

@media all and (max-width:1039px) {
    .user {
        margin-top: 7vw;
        height: fit-content;

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: fit-content;
            padding: 4vw 0;
            margin: 10vw 0;

            &-box {
                width: 80%;
                position: relative;
                padding: 0;

                .title {
                    border-bottom: 1px solid $dark-green;
                    margin: 1vw auto 5vw;

                    h1 {
                        margin: 0 auto;
                        width: fit-content;
                        font-size: var(--ch_m_text);
                        padding-bottom: 1.2vw;
                    }
                }

                form {
                    width: 100%;

                    .form-box {
                        margin-bottom: 8vw;
                        flex-direction: column;
                        padding: 0;

                        >p {
                            padding-left: 1vw;
                            margin-bottom: 2vw;
                            font-size: var(--ch_s_text);
                        }

                        input {
                            width: 100%;
                            padding: 2.5vw 2.5vw;
                            font-size: var(--ch_s_text);
                        }

                        input[type=submit] {
                            font-size: var(--ch_s_text);
                        }

                        select {
                            position: relative;
                            font-size: var(--ch_s_text);
                            width: 100%;
                            flex: auto;
                            margin: 2vw 0 3vw 0;
                            padding: 0 2.5vw;
                            height: 5.5vw;
                        }

                        .floor {
                            margin-top: 3vw;
                        }

                    }

                    &> :nth-child(2) {
                        flex-direction: row;
                        align-items: center;

                        p {
                            margin-bottom: 0;

                            flex: 0 0 20%;
                        }

                        label {
                            font-size: var(--ch_s_text);
                            margin-right: 6vw;

                            input {
                                width: 25px;
                                height: 25px;
                                background-color: transparent;
                            }
                        }
                    }

                    &> :last-child {
                        position: static;
                        width: 100%;

                        input {
                            width: 100%;
                            font-size: var(--more_text);
                            font-weight: 600;
                        }

                        &> :nth-child(1) {
                            margin-right: 0;
                            order: 3;
                            width: 100%;
                            background-color: #fff;
                            border-radius: 40px;
                            margin-top: 3.5vw;

                            input {
                                color: $dark-green;

                                pointer-events: none;

                            }
                        }

                        &> :nth-child(2) {
                            background-color: $light-green;
                            color: #fff;

                        }

                    }
                }
            }
        }
    }

    @media all and (max-width:500px) {
        .user {

            .content {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90%;
                height: fit-content;
                padding: 4vw 0;
                margin: 20vw 0;

                &-box {
                    width: 80%;
                    position: relative;
                    padding: 0;

                    .title {

                        margin: 1vw auto 8vw;

                        h1 {
                            margin: 0 auto;
                            width: fit-content;
                            font-size: var(--ch_m_text);
                            padding-bottom: 2.5vw;
                        }
                    }

                    form {
                        width: 100%;

                        .form-box {
                            margin-bottom: 12vw;

                            >p {
                                padding-left: 1vw;
                                margin-bottom: 2vw;
                            }

                            input {
                                padding: 4.5vw 3vw 2.5vw;
                            }


                            select {
                                margin: 4vw 0 5vw;
                                padding: 0 2.5vw;
                                height: 10vw;
                                background-size: 10px 10px;
                            }

                            .floor {
                                margin-top: 5vw;
                            }

                        }

                        &> :nth-child(2) {
                            flex-direction: row;
                            align-items: center;

                            p {
                                margin-bottom: 0;
                            }

                            label {
                                margin-right: 8vw;

                                input {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }

                        &> :last-child {
                            &> :nth-child(1) {
                                margin-right: 0;
                                margin-top: 5vw;
                            }

                        }
                    }
                }
            }
        }
    }
}