@import "_index";
@import "_config";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
html {

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}
h1,h2,h3,h4,h5,h6,span,p,a{
    font-family: 'Noto Sans TC', sans-serif;
}
a{
    color: #000;
}
span{
    display: inline-block;
}
html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}
body{
    overscroll-behavior-y: none;
}
// body::-webkit-scrollbar {
//     display: none;
// }

// body {
//     -ms-overflow-style: none;
//     height: 100%;
// 	width: calc(100vw + 18px);
// 	overflow: auto;
// }


@keyframes rotate{
    0%{
        transform: rotate(0);
    }    
    100%{
        transform: rotate(360deg);
    }
}




//fake
.about{
    width: 100%;
    z-index: -1;
    overflow: hidden;
    cursor: pointer;
    .swiper-wrapper{
        width: 100%;
        .swiper-slide{
            width: 100%;
            position: relative;
            img{
                width: 100%;
                object-fit: cover;
                margin-top: -4vw;
            }
            p{
                position: fixed !important;
                left: 2vw;
                top: 5vw;
                font-size: 1.3vw;
                color: rgba(0, 0, 0, 0.171);
            }
        }
    }
   
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;


    z-index: 10;
background-color: #fff;
    padding: 1.2vw 0;
    border-top: 1px solid #000;
    p{
        font-size: 0.7vw;
        letter-spacing: 0.1em;
        span{
            margin: 0 1vw;
        }
    }
}



//fake