@import "_index";
@import "_config";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
h1,h2,h3,h4,h5,h6,span,p{
    font-family: 'Noto Sans TC', sans-serif;
}
a{
    color: #000;
}
span{
    display: inline-block;
}
html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
	width: calc(100vw + 18px);
	overflow: auto;
}
